/* lasagna.css */

.title{
    font-family: gilmer;
    font-size: 20px;
    color: rgb(105, 12, 205);
    text-align: center;
    padding: auto;
    margin: auto;
}

.home{
    font-family: gilmer;
    font-size: 10px;
    color: rgb(30, 29, 31);
    text-align: center;
    padding: auto;
    margin: auto;
}

img{
    padding-left: 25%;
    width: 50%;
}

.row{
    display: flex;
    border-radius: 30%;
    padding: auto;
}

h2{
    font-family: gilmer;
    font-size: 40px;
    color: rgb(105, 12, 205);
    text-align: center;
    padding: auto;
    margin: auto;
}

p{
    font-family: gilmer;
    font-size: 15px;
    color: rgb(25, 25, 25);
    text-align: center;
    padding-top: 1%;
    margin: auto;
}

ul{
    font-family: gilmer;
    font-size: 15px;
    color: rgb(185, 13, 13);
    text-align: center;
    padding-top: 1%;
    margin: auto;
    list-style-type: none;
}

ol{
    list-style-type: none;
    text-align: center;
}